<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Colby Somerville</title>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <script src="js/vendor.js"></script>
  <script src="js/scripts.js"></script>
</head>
<body>
  <div class="backdrop">
    <div class="backdrop-wrapper">
    </div>
  </div>
  <main>
    <div class="shown">
      <h1>Colby Somerville</h1>
      <hr>
      <h2>Full Stack Web Developer</h2>
      <div class="boxies">
        <div class="boxlet on"></div>
        <div class="boxlet"></div>
        <div class="boxlet"></div>
        <div class="boxlet"></div>
      </div>
    </div>
  </main>
</body>
</html>