<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Colby Somerville</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <script src="js/vendor.js"></script>
  <script src="js/scripts.js"></script>
</head>
<body>
  <div class="backdrop">
    <div class="backdrop-wrapper">
    </div>
  </div>
  <main>
    <section class="front-page hidden">
      <h1>Colby Somerville</h1>
      <hr>
      <h2>Full Stack Web Developer</h2>
      <div class="boxies">
        <div class="boxlet on"></div>
        <div class="boxlet"></div>
        <div class="boxlet"></div>
        <div class="boxlet"></div>
      </div>
    </section>
    <section class="skills hidden">
      <h1>I am a full stack web developer with a particular interest in front end Javascript frameworks.</h1>
      <hr>
      <p>SKILLS: nodejs, express, Backbone, Angular, ruby, rails, python, mocha with chai, postgresql, git, less/sass</p>
      <div class="boxies">
        <div class="boxlet"></div>
        <div class="boxlet on"></div>
        <div class="boxlet"></div>
        <div class="boxlet"></div>
      </div>
    </section>
    <section class="projects hidden">
      <h1>Projects</h1>
      <hr>
      <a href="https://github.com/CSomerville/blind_ardor"><span></span>blind_ardor: a tree-trail creation app for NYC based arborealists</a>
      <a href="https://github.com/CSomerville/memory_cards"><span></span>memory_cards: a game for children and child-like adults in a sunny glade</a>
      <div class="boxies">
        <div class="boxlet"></div>
        <div class="boxlet"></div>
        <div class="boxlet on"></div>
        <div class="boxlet"></div>
      </div>
    </section>
    <section class="contact shown">
      <h1>Feel free to get in touch; I would love to continue this conversation.</h1>
      <hr>
      <i class="fa fa-github"></i>
      <i class="fa fa-linkedin-square"></i>
      <div class="boxies">
        <div class="boxlet"></div>
        <div class="boxlet"></div>
        <div class="boxlet"></div>
        <div class="boxlet on"></div>
      </div>
    </section>
    <div class="blurred-speech">
    </div>
  </main>
</body>
</html>